/*Estilos generales para cada pagina*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background-color: #ffffff;
}



.cabeza-body {
    background-image: url(../img/design1_image1.jpg);
    background-repeat: round;
    background-size: cover;
    width: 100%;
}




h1 {
    display: inline-block;
    bottom: 85px;
    color: black;

}
.container-img-logo{
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 6%;
    
}

#img_logo {
    width: 70px;
    
}

h2 {
    background-color: black;
    color: white;
    top: 25px;
    text-align: center;

}

nav {
    /* display:inline-block; */
    display: inline-grid;
    font-size: 18px;
    padding-top: 7vw;
    padding-left: 13vw;
    /* flex: content; */
    /* margin-top: 54px; */
    /* width: 35px; */
}



a:hover {
    background-color: #675151;

}

nav a {
    color: blue;
    padding: 8px 14px;
}

a[href="#"] {
    color: black;

}

.block_fecha {
    margin-top: 4vw;
    margin-left: 24vw;
    padding: 5px;
    display: inline-block;
    text-align: end;
    vertical-align: top;
}

.img_fechas {
    margin-top: 13px;
    width: 25vh;
    align-content: flex-end;

}

.contenido_fecha {
    margin-top: 25px;
    
    

}

p {
    color: black;
}

main{
    background-position: center;
    display: flex;
    justify-content: space-around;
    /* margin-top: 126px;
    margin-left: 143px;  */
    
}

h5{
    text-decoration: dashed;
}

/*Estilo de About*/

.contenido_mision{
    display: inline-flex;
    float: none;
    margin-left: 5%;
    width: 60vw;
    overflow: visible;

}

h4{
    color:black;
    margin-top: 18px;
}


.mision_about {
    text-align: justify;
    color:black;
    margin-top: 10px;

}

/*Estilo de Contact*/

.contenido_contacto{
    display: inline-flex;
    margin-left: 47px;

}

.contact_h4{
    text-align: left;
    margin-top: 9px;

}

.email{
    text-decoration: underline;
    color: blue;

}


/*Estilo Game*/

.titulo-tabla{
    display: inline-flex;
    flex-direction: column;
    width: 55vw;
    padding: 46px;
    font-size: 22px;
    bottom: 25%;
    justify-content: end;
    align-items: center;
}
 
.titulo-tabla-h4{
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-tabla{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-right: 9%;
    object-fit: contain;
   
}

.tabla_game{
    background-color: rgb(228, 224, 234);
    /* display: table; */
    width: 60vw;
    height: 30vh;
    border-collapse: collapse; /*junta todos los bordes, comparte, no los separa*/
    border: 1px solid black;
    border-radius: 6px;
    /* border-collapse:separate;
    border-spacing: 20px; distancia entre los bordes de las celdas */
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    justify-content: space-around;
    top:0;
  
}

th,td {
    border: 1px solid black;
}
.F_9sep{
    border: none;
}

.caja-inf-game{
    display: flex;
    align-items: center;
    padding-left: 25%;
    margin-top: 5%;
    margin-right: 5%;
    flex-direction: column;
}

.e-mail{
  display: inline-block;
  align-self: flex-end;
}

/*Rules*/

.contenedor_rules{
    display: inline;
    float: right;
    padding: 5%;
    writing-mode: horizontal-tb;
    justify-content: space-around;
    text-align: justify;
    width: 70vw;
}
.contenedor_rules_1{
    display: block;
    padding: 15px;
    justify-content: center;
    align-content: center;
}

.titulo_lista{
    text-align: center;
    justify-content: center;
    font-size: 23px;
    margin-bottom: 5%;
}

.contenedor_rules_2{
    display: block;
    padding: 15px;
}

.con_2_lista{
   margin-left: 10%;
   list-style-type:upper-latin;
}

.contenedor_rules_3{
    display: block;
    padding: 15px;
}