*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: brown;
}

header{
    background-image: url(../img/design1_image1.jpg);
    width: 100vw;
    position: absolute;
    

}

h1{
    position: static;
    
}

nav{
    background-color: antiquewhite;

}
a{
    background-color: blue;
    background: hover;
    
}

.img_fechas{
    width: 35vh;
}

#img_logo{
    width: 70px;

}